doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet" type="text/css" href="Style.css")
  title Portfolio Module
body
  figure
    img(src="Headshot.PNG")
    caption
      header
        h3 Rafael Ojeda
        span Future Web Developer
      p Rafael bangs on keyboards, like to dream he has a beard, and of course tries to keep concentration on his work as a web developer.
    .Tags
      a(href="#" class="Twitter") Twitter 
      a(href="#" class="Github") Github
      a(href="#" class="Youtube") Youtube
      a(href="#" class="Podcast") Podcast
